name: Docker Image CI/CD

on:
  push:
    branches:
      - main 

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: honganmaki/express:latest

      - name: Verify Push (Optional)
        run: |
          echo "Successfully pushed mhonganm/express:latest to Docker Hub."

  deploy-to-flyio:
    needs: build-and-push
    runs-on: ubuntu-latest
    environment:
      name: production
      url: https://exp-blue-bird-9709.fly.dev/

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Deploy to Fly.io
        uses: superfly/fly-release-action@v1 
        with:
          app: exp-blue-bird-9709 
          token: ${{ secrets.FLY_API_TOKEN }} 
